[submodule "tools/module_sqlmap"]
	path = tools/module_sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "tools/module_oneforall"]
	path = tools/module_oneforall
	url = https://github.com/shmilylty/OneForAll.git
[submodule "tools/module_sstimap"]
	path = tools/module_sstimap
	url = https://github.com/vladko312/SSTImap.git
[submodule "tools/module_WebTree"]
	path = tools/module_WebTree
	url = https://github.com/lulaide/WebTree.git
